@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/global.scss';

.main {
    height: 100%;
}

.section-get-started {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $gray-1;
    padding-top: 105px;
    box-sizing: border-box;
    
    @media (max-width: 1024px) {
        padding-top: 75px;

    }
    
    .section-get-started-container {
        height: 100%;
        padding: 67px 0;
        box-sizing: border-box;
        
        .section-get-started-wrapper {
            display: flex;
            flex-direction: column;

            .section-get-started-header {
                display: flex;
                justify-content: center;
                margin-bottom: 67px;
            }
            .section-get-started-content {
                .section-get-started-cards {
                    display: flex;
                    flex-wrap: wrap;

                    .get-started-card {
                        display: flex;
                        flex: 1 1 375px;
                        justify-content: center;
                        padding: 25px 10px;

                        .get-started-card-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: white;
                            max-width: 375px;
                            padding: 41px 25px;
                            box-sizing: border-box;
                            border-radius: 6px;
                            box-shadow: 0 0 10px 1px rgba($gray-dark, 0.2);
                            
                            @media (max-width: 1024px) {
                                padding: 25px 16px;
                            }

                            .get-started-card-icon {
                                margin-bottom: 25px;
                            }
                            .get-started-card-title {
                                font-family: $font-bold;
                                color: $gray-dark;
                                font-size: 20px;
                                margin-bottom: 16px;
                            }
                            .get-started-card-description {
                                text-align: center;
                                margin-bottom: 25px;
                                color: $gray-dark-suport;
                                line-height: 25px;

                                span {
                                    font-size: 14px;
                                    display: block;
                                    text-align: center;
                                    margin-top: 10px;
                                }
                            }
                            .get-started-card-cta {
                                flex: 1;
                                display: flex;
                                align-items: flex-end;
                            }
                        }
                    }

                }
            }
        }

    }
}

header {
    width: 100%;
    display: flex;
    min-height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(white, 1);
    z-index: 100;
    border-bottom: none;
    box-shadow: 0 0 10px rgba($gray-dark, 0.2);
    transition: all .3s ease;
    
    .header-container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all .4s ease;

        .header-logo {
            flex: 0 0 80px;
            transition: all .4s ease;
            svg {
                height: 80px;
                transition: all .4s ease;
                cursor: pointer;
                g * {
                    fill: $gray-dark;
                    transition: fill .3s ease;
                }
            }
        }
        .mobile-menu-button {
            display: none;            
        }
        .header-navigation {
            flex: 0;
            display: flex;
            align-items: center;

            .header-navigation-wrapper {
                
                ul.menu {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    
                    li {
                        margin-left: 41px;
                        white-space: nowrap;
                        color: $gray-dark-suport;
                        cursor: pointer;
                        transition: color .3s ease;
                        padding: 4px;
                        
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    li:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .header-container {
            position: relative;
            flex-direction: column;

            .header-logo {
                align-items: flex-start;
                flex: 0 0 50px;
                transition: all .4s ease;
                svg {
                    height: 50px;
                    g * {
                        fill: $gray-dark;
                        transition: fill .3s ease;
                    }
                }
            }
            .mobile-menu-button {
                display: block;
                position: absolute;
                right: 25px;
                top: 27px;
                span {
                    background-color: $gray-dark;
                }
            }
            .header-navigation {
                flex: 1;
                display: flex;
                justify-content: center;
                
                .header-navigation-wrapper {
                    ul.menu {
                        padding: 0;
                        max-height: 0px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: max-height .6s ease;

                        >li {
                            padding: 10px 0;
                            margin: 0;
                        }
                    }
                    ul.menu.menu-active {
                        max-height: 252px;
                    }
                }
            }
        }
    }
}
