@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/global.scss';

.main {
    height: 100%;
}

.section-main {
    display: flex;
    background-color: $gray-dark;
    min-height: 500px;
    width: 100%;
    position: relative;

    .section-main-video-overlay,
    .section-main-video-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    .section-main-video-bg {
        video {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;

            @media (max-width: 460px) {
                margin-left: -100%;
            }
        }
    }

    .section-main-video-overlay {
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
    .section-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        padding-top: 180px;
        
        @media (max-width: 768px) {
            padding-top: 130px;
        }

        .section-main-title {
            padding-bottom: 16px;
            margin-bottom: 25px;
            border-bottom: 1px solid $gray-dark-suport;

            h1 {
                font-family: $font-bold;
                font-size: 41px;
                text-shadow: 0 0 10px rgba($gray-dark, 0.5);
                text-align: center;                
            }
            @media (max-width: 768px) {
                border-bottom: none;

                h1 {
                    font-size: 25px;
                }
            }
            
        }
        .section-main-subtitle {
            display: flex;
            margin-bottom: 67px;

            .main-subtitle {
                padding: 0 21px;
                position: relative;
                font-family: $font-medium;
            }

            .main-subtitle::before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background-color: $white;
                border-radius: 50%;
                position: absolute;
                right: -3px;
                top: 50%;
                margin-top: -3px;
            }

            .main-subtitle:last-child::before {
                display: none;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;

                .main-subtitle {
                    padding: 0;
                    margin-bottom: 10px;
                    position: relative;
                    font-family: $font-medium;
                }

                .main-subtitle::before {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                margin-bottom: 41px;
            }
        }

        .section-main-title,
        .section-main-subtitle,
        .section-main-cta {
            z-index: 3;
        }
    }
}

.section-portfolio {
    background-color: $white;

    .section-portfolio-container {
        display: flex;
        flex-direction: column;

        .section-portfolio-content {
            .content-wrapper {
                .section-portfolio-cards {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin-bottom: 41px;
                    margin-right: -10px;
                    margin-left: -10px;
                    
                    @media (max-width: 1200px) {
                        justify-content: center;
                    }
                }

                .section-portfolio-show-more {
                    display: flex;
                    justify-content: center;
                }
            }
        }

    }

    @media (max-width: 768px) {
        .section-portfolio-container {
            padding-bottom: 41px;
            position: relative;
    
            svg {
                position: unset;
            }
            p {
                color: $gray-dark;
                text-align: center;
    
                span {
                    font-family: $font-medium;
                }
            }
        }
    }
}

.portfolio-card {
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 389px;
    cursor: pointer;
    opacity: 1;
    overflow: auto;
    position: relative;
    transition: opacity .3s ease;

    .portfolio-wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 0 0px rgba($gray-dark, 0.25);
        transition: all .3s ease;

        .portfolio-video {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all .3s ease;

            border-left: 1px solid $gray-2;
            border-right: 1px solid $gray-2;
            border-top: 1px solid $gray-2;
            flex: 1 1 190px;

            svg {
                opacity: 0;
                transition: all .3s ease;
            }

            .video {
                > iframe {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            .play-icon {
                filter: none;
                transform: scale(1);
                transition: all .3s ease;
            }
        }

        .portfolio-info {
            border-left: 1px solid $gray-2;
            border-right: 1px solid $gray-2;
            border-bottom: 1px solid $gray-2;
            padding: 16px;
            background-color: $gray-1;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all .3s ease;
            box-sizing: border-box;

            flex: 1 1 71px;

            .portfolio-title {
                font-family: $font-medium;
                margin-bottom: 3px;
                transition: all .3s ease;
            }

            .portfolio-subtitle {
                font-size: 14px;
                transition: all .3s ease;
            }
        }
    }

    @media (max-width: 460px) {
        flex: 1 1 383px;
    }
}

.portfolio-card.portfolio-card-show2,
.portfolio-card.portfolio-card-show3 {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: -100%;
}

.portfolio-card .portfolio-wrapper:hover {
    box-shadow: 0px 0 10px rgba($primary-color, 0.7);

    .portfolio-video,
    .portfolio-info {
        border-left: 1px solid $hover-primary-color;
        border-right: 1px solid $hover-primary-color;

        .play-icon {
            opacity: 1;
            filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.4));
        }
    }

    .portfolio-video {
        border-top: 1px solid $hover-primary-color;
    }

    .portfolio-info {
        border-bottom: 1px solid $hover-primary-color;

        .portfolio-title {
            font-family: $font-medium;
            margin-bottom: 3px;
            color: $primary-color;
        }
        
        .portfolio-subtitle {
            color: $primary-color;
            font-size: 14px;
        }
    }

}

.section-services {
    position: relative;
    
    .section-services-wrapper {
        z-index: 5;
        position: relative;
    
        .section-services-container {
            .section-services-content {
                .service-cards {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .service-card {
                        flex: 0 0 373px;
                        margin-right: 10px;
                        margin-bottom: 41px;

                        .service-icon {
                            margin-bottom: 16px;
                        }
                        
                        .service-title {
                            font-family: $font-bold;
                            font-size: 20px;
                            color: $gray-dark;
                            margin-bottom: 10px;
                        }

                        .service-description {
                            font-family: $font-regular;
                            font-size: 16px;
                            color: $gray-dark-suport;
                            line-height: 27px;
                            margin-bottom: 10px;
                        }

                        @media (max-width: 460px) {
                            flex: 1 1 373px;
                        }
                    }
                }
            }
        }
    }

    .section-services-video-overlay,
    .section-services-video-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -20;
        width: 100%;
        height: 100%;

        .section-services-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .section-services-video-bg {
        overflow: hidden;
    }

    .section-services-video-overlay {
        z-index: 1;
        background: rgba(255,255,255,0.8);
    }

}

.section-how-we-work {
    padding-top: 67px;
    background-color: $gray-dark;

    .section-how-we-work-container {
        .section-header p {
            color: $gray-1;
        }
    }

    .section-how-we-work-steps {
        .how-we-work-step-ctas {
            max-width: 800px;
            margin: 41px auto 0 auto;
            .first-step {
                color: $gray-3;
                font-family: $font-bold;
                margin-bottom: 10px;
            }
            .step-ctas {
                display: flex;
                justify-content: space-between;

                .step-cta {
                    flex: 0 0 300px;
                    padding: 25px;
                    background-color: rgba(white, 0.05);
                    border: 1px solid $gray-4;
                    border-radius: 6px;
                    box-sizing: border-box;
                    /* display: flex; */
                    flex-direction: column;

                    .step-cta-header {
                        display: flex;
                        align-items: center;
                        padding-bottom: 16px;
                        margin-bottom: 16px;
                        border-bottom: 1px solid $gray-4;
                        flex: 0;
                        
                        .step-cta-header-icon {
                            margin-right: 16px;
                            height: 42px;
                        }
                        .step-cta-header-title {
                            color: $gray-3;
                            font-family: $font-bold;
                            font-size: 20px;
                        }
                    }
                    .step-cta-content {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .step-cta-content-title {
                            color: $gray-1;
                            font-family: $font-medium;
                            font-size: 20px;
                            margin-bottom: 16px;
                            flex: 0;
                        }
                        .step-cta-content-text {
                            color: $gray-1;
                            font-family: $font-regular;
                            font-size: 16px;
                            line-height: 27px;
                            margin-bottom: 16px;
                            flex: 1;
                        }
                        .step-cta-button {
                            flex: 0;
                            text-align: center;

                            button {
                                margin: auto;
                            }
                        }
                    }

                    
                }

                > :first-child {
                    margin-right: 67px;
                    margin-bottom: 0px;
                }

                @media (max-width: 768px) {
                    flex-direction: column;

                    > :first-child {
                        margin-right: 0px;
                        margin-bottom: 41px;
                    }

                    .step-cta {
                        flex: 0 0 300px;
                    }
                }
            }
        }
    }
}

.exclusive-box {
    padding: 16px !important;
    margin-bottom: 25px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 6px;
    color: white;
    border-left: 3px solid $primary-color;
    max-width: 400px;
    line-height: 27px;

    .exclusive-box-title {
        display: flex;
        font-size: 20px;
        font-family: $font-medium;
        color: $hover-primary-color;
        margin-bottom: 10px;
        line-height: normal;

        svg {
            height: 30px;
            margin-right: 10px !important;
        }
    }
}

.section-about {
    padding-top: 67px;
    background-color: $white;

    img {
        width: 100%;
        margin-bottom: 25px;
    }

    .section-about-container {
        .section-about-content {
            .content-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .about-text-container {
                    margin-bottom: 41px;
                    padding-right: 41px;
                    flex: 1 1 420px;
                    box-sizing: border-box;

                    p {
                        margin-bottom: 25px;
                    }

                    @media (max-width: 1068px) {
                        margin-bottom: 0px;
                        padding-right: 0px;
                    }
                }

                .about-map {
                    flex: 0 0 600px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 67px;

                    @media (max-width: 670px) {
                        flex: 1;
                    }
                }
            }
        }
    }
}


.section-work-with-us {
    background-color: $gray-1;

    .section-work-with-us-container {
        .section-work-with-us-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
            margin: auto;

            .work-with-us-image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 6px;
                }
            }
            .work-with-us-contact {
                font-family: $font-medium;
                font-size: 20px;
                color: $gray-dark;
                text-align: center;
                margin-bottom: 41px;

                a {
                    color: $primary-color;
                    text-decoration: none;
                    transition: color .3s ease;
                    
                    &:hover {
                        color: $hover-primary-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.section-get-started {
    background-color: $primary-color;

    .section-get-started-container {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .section-get-started-text {
            flex: 1;
            color: white;
            font-family: $font-regular;
            font-size: 16px;
            line-height: 27px;
            max-width: 700px;
            text-align: justify;
        }

        .section-get-started-cta {
            flex: 0 0 310px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                margin-top: 25px;
                flex: 1;
            }
        }
    }
}


/* ################### */

.section-container {
    padding-top: 67px;
    padding-bottom: 67px;
}

.accordion-container {
    position: relative;

    .close-all-accodions {
        position: absolute;
        right: 22px;
        top: -35px;
        font-family: $font-medium;
        font-size: 14px;
        color: $primary-color;
        padding: 10px 0 10px 10px;
        cursor: pointer;
        transition: all .3s ease;
        
        &:hover {
            color: $hover-primary-color;
        }
    }
    .accordion {
        opacity: 0.7;
        transition: opacity .4s ease;
        .accordion-header {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .accordion-header-title {
                font-family: $font-medium;
                font-size: 25px;
                color: $gray-1;
                flex: 1;
                
                span {
                    font-size: 16px;
                    color: $gray-3;
                    margin-right: 10px;
                }
                
                @media (max-width: 768px) {
                    font-family: $font-bold;
                    font-size: 16px;

                    span {
                        font-size: 13px;
                        margin-right: 0px;
                    }
                }
            }
            .accordion-header-steps {
                display: flex;
                justify-content: flex-end;
                font-family: $font-medium;
                font-size: 14px;
                color: $gray-1;
                flex: 0 0 70px;
            }
            .accordion-header-steps.the-end {
                color: $primary-color;
                font-family: $font-bold;
            }
            .accordion-header-arrow {
                justify-content: flex-end;
                display: flex;
                flex: 0 0 55px;

                svg {
                    transform: rotate(180deg);
                    transition: all .4s ease;
                }
            }
        }

        .accordion-content {
            max-height: 0;
            transition: all 1s ease;
            overflow: hidden;
        }
    }

    .accordion:hover {
        opacity: 1;
    }

    .accordion.active {
        opacity: 1;
        .accordion-header {
            .accordion-header-arrow {
                svg {
                    transform: rotate(0deg);
                }
            }
        }
        .accordion-content {
            max-height: 1530px;
        }
    }

    .accordion-1 {
        background-color: #363636;
    }
    .accordion-2 {
        background-color: #2D2D2D;
    }
    .accordion-3 {
        background-color: #282828;
    }
    .accordion-4 {
        background-color: $gray-dark;
        opacity: 1;

        .accordion-header {
            cursor: unset;
        }
    }
}

.steps {
    padding-top: 41px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: auto;

    .step {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        box-sizing: border-box;
        flex: 1;
        align-items: flex-start;
        
        :last-child:not(button) {
            padding-right: 0px;
        }

        .step-number {
            color: $gray-3;
            font-family: $font-bold;
            margin-bottom: 6px;    
        }
        .step-title {
            color: white;
            font-family: $font-medium;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .step-description {
            color: $gray-2;
            font-family: $font-regular;
            font-size: 16px;
            margin-bottom: 16px;
            line-height: 27px;
        }
    }
}

section {
    position: relative;

    .tracker {
        position: absolute;
        top: -70px;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 3px;
        
        @media (max-width: 1024px) {
            top: -60px;
        }
    }
}
