@import './variables.scss';

h1, h2, p {
    margin: 0;
    font-weight: normal;
}

p {
    line-height: 28px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-side-margin {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}