//	Typography
$font-regular: 'Open Sans Regular';
$font-medium: 'Open Sans Medium';
$font-bold: 'Open Sans Bold';

//	Base Colors
$white: #ffffff;
$aegon-blue: #0069b4;
$mongeral-blue: #0079c2;
$prussian-blue: #001e32;
$regal-blue: #003c64;
$lochmara-blue: #0077c8;
$cod-gray: #1d1d1d;
$support-gray: #929292;
$chalice-silver: #a5a5a5;
$line-gray: #d8d8d8;
$heaven: #F8F8F8;
$urban-sky: #f0f0f0;
